.myPortfolio__skills-title{
    flex: 0.85;
    display: flex;
    justify-content: center;
    background: var(--color-neongreen);
    align-items: center;
    color: #282828;
    border-top: 3px solid var(--color-neongreen);
    border-bottom: 3px solid var(--color-neongreen);
    overflow: hidden;
}

.myPortfolio__skills-title h3{
    width: 100%;
    font-family: var(--font-family);
    margin: 1.5rem;
    text-align: center;
    line-height: 35px;
    font-size: 48px; 
    color: #282828;
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.04em;
    white-space: nowrap;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    
}

.myPortfolio__skills-title h3:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 10px rgba(208, 236, 88, 1);
}

.myPortfolio__skills-hr{
    flex: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPortfolio__skills-hr hr{
    padding: 0 35rem;
    border: none;
    border-top: 1px solid var(--color-neongreen);
    margin: 1.5rem;
}

.myPortfolio__skills-title h4{
    width: 100%;
    
    font-family: var(--font-family);
    margin: 1.5rem;
    text-align: center;
    line-height: 25px;
    font-size: 36px; 
    color: rgba(255, 255, 255, 0.863);
    font-style: normal;
    font-weight: normal;
    letter-spacing: -0.04em;
    white-space: nowrap;
    
}

.myPortfolio__skills-slider {
    height: 250px;
    margin: auto;
    position: relative;
    max-width: 100%;
    display: grid;
    overflow: hidden;
    place-items: center;
    border-bottom: 3px solid var(--color-neongreen);
}

.myPortfolio__skills-slider__slide-track{
    display: flex;
    width: calc(250px * 18);
    animation: scroll 20s linear infinite;
    overflow: hidden;
}

.myPortfolio__skills-slider__slide-track:hover{
    animation-play-state: paused;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.myPortfolio__skills-slider_logo{
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
    overflow: hidden;
}

.myPortfolio__skills-slider_logo img{
    width: 100%;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
}

.myPortfolio__skills-slider_logo img:hover{
    transform: translateZ(20px);
    transform: scale(1.1);
}

.myPortfolio__skills{
    flex: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.myPortfolio__skills img{
    width: 100%;
    transition: transform 1s;
    overflow: hidden;
}

.myPortfolio__skills-slider::before,
.myPortfolio__skills-slider::after{
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0), 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
    overflow: hidden;
}

.myPortfolio__skills-slider::before{
    left: 0;
    top: 0;
}

.myPortfolio__skills-slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

@media screen and (max-width: 650px){
    .myPortfolio__skills-title h3{
        font-size: 36px;
        line-height: 36px;      
    }

    .myPortfolio__skills-slider_logo{
        height: 120px;
        width: 150px;
        perspective: 70px;
        overflow: hidden;
    }
}

@media screen and (max-width: 490px){
    .myPortfolio__skills-title h3{
        font-size: 24px;
        line-height: 24px;      
    }

    .myPortfolio__skills-hr hr{
        padding: 0 10rem;
        border: none;
        border-top: 1px solid #ccc;
        margin: 1.5rem;
    }
    .myPortfolio__skills-slider_logo{
        height: 100px;
        width: 150px;
        display: flex;
        align-items: center;
        perspective: 50px;
        overflow: hidden;
    }
}
